:root {
    --primary-color: #3369F3;
    --danger-color: #FF4444;
    --text-primary: #1E1E1E;
    --text-secondary: #999;
    --bg-primary: #FBFBFB;
    --bg-secondary: #EFEFEF;
    --border-color: #EAEAEA;
    --form-width: 340px;
    --form-wide-width: 460px;
    --form-padding: 50px 30px;
    --form-border-radius: 12px;
    --form-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}
