<main class="change-password-page">
  <div class="profile-container">
    {{> Link href="/profile" text="< Назад" class="back-link"}}
    <div class="profile-content">
      <div class="avatar-container">
        <div class="profile-avatar"></div>
        <h1 class="profile-name">{{profile.name}}</h1>
      </div>
      <form class="change-password-form">
        <div class="password-fields">
          {{> Input 
            name="old_password" 
            label="Старый пароль" 
            type="password"
            placeholder="Введите старый пароль"
          }}
          {{> Input 
            name="new_password" 
            label="Новый пароль" 
            type="password"
            placeholder="Придумайте новый пароль"
          }}
          {{> Input 
            name="password_confirm" 
            label="Повторите пароль" 
            type="password"
            placeholder="Повторите новый пароль"
          }}
        </div>
        {{> Button text="Сохранить" class="button--primary" type="submit"}}
      </form>
    </div>
  </div>
</main>