.error-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.error-code {
  font-size: 80px;
  color: #000;
  margin: 0 0 16px;
  font-weight: 500;
}

.error-message {
  font-size: 18px;
  color: #000;
  margin: 0 0 24px;
  opacity: 0.8;
}

.link--center {
  display: inline-block;
  padding: 12px 24px;
}