@import './styles/variables.postcss';
@import './styles/base.postcss';

/* Components */
@import './components/Button/button.postcss';
@import './components/Input/input.postcss';
@import './components/Link/link.postcss';

/* Pages */
@import './pages/auth/auth.postcss';
@import './pages/register/register.postcss';
@import './pages/chats/chats.postcss';
@import './pages/profile/profile.postcss';
@import './pages/404/404.postcss';
@import './pages/500/500.postcss';
